{% extends "base.html" %}
{% load static %}
{% block title %} {{ header }} {% endblock title %}
{% block header %} {{ header }} {% endblock header %}
{% block about %}
    <p>
        <b>Настоящая программа разработана для определения показателя инновационности грузовых вагонов.</b><br/>
        <b>В основе метода</b> определения показателя инновационности заложен анализ общего технического уровня продукции (грузовых вагонов).<br/>
        <b>Методика</b> определения показателя инновационности ориентирована на диалектический подход к учету изменений ряда показателей
        (надежности и безопасности, технико-экономических параметров) вагона и их сравнении с эксплуатируемыми вагонами аналогичного назначения.<br/>
        <b>Оценка инновационности</b> грузового вагона проводится путем суммирования результатов деления каждой характеристики вагона, претендующего на инновационность,
        на такую же среднюю характеристику вагонов аналогичного назначения, выпущенных промышленностью в последние <i>n</i> лет.<br/>
        Вагоны-аналоги подбираются из <a href="https://numeral.su/smgr/" target="_blank">Справочника моделей грузовых вагонов (СМГР-1).</a>
    </p>
{% endblock about %}